.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#headerImage {
  
}

.socialMedia {
  justify-content: left !important;
  font-size:30px;
}

#header {
  margin-top:2% !important;
}

.list-group-item.list-group-item-info{
  color:black !important;
}

.headerContent {
  background-color:aquamarine;
  padding:20px;
  border-radius:20px;
}

.uniTitle {
  font-size:25px;
}

  @media (max-width: 767px) {
	#header{
	margin-top:0px !important;
        }
	#headerImage{
	margin-top:0px !important;
	}
        img{
        transform: rotate(360deg) !important;   
        }
    }
